{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 4,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "strict",
  "rangeStart": 0,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": [],
  "vueIndentScriptAndStyle": false,
  "printWidth": 80,
  "useTabs": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "overrides": [],
  "rangeEnd": 80,
  "singleAttributePerLine": false,
  "filepath": "./src",
  "parser": "typescript",
  "requirePragma": false,
  "cursorOffset": -1,
  "insertPragma": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true
}